{{ define "folder-input" }}
<form id="create-folder" hx-post="/folders/" hx-target="#folders-target" hx-swap="innerHTML">
    <input type='text' name="folder-parent" value="{{ .FolderParent }}" hidden>
    <input type="text" name="folder-name" minLength="1" required>
    <button>Create Folder</button>
</form>
{{ end }}

{{ define "folder-list" }}
<div id="folders-target" class="folders">
    <ul>
        {{ range .Folders }}
        <li><a href="/folders/{{ .FolderClientPath }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}


{{ define "folder-breadcrumbs" }}
<ul class="folder-breadcrumbs">
    {{ range .Breadcrumbs }}
    <li>
        <h4><a class="folder-breadcrumbs__folder_link" href="/folders/{{ .FolderClientPath }}">{{ .Name }}</a></h4>
    </li>
    {{ end }}
</ul>

{{ end }}