<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P_Drive</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body>
    <div class="tab-list" role="tablist">
        <button hx-get="/files" role="tab" aria-controls="tab-content" hx-target="#tab-content"
            hx-swap="innerHTML">Files</button>
        <button hx-get="/upload" role="tab" aria-controls="tab-content" hx-target="#tab-content"
            hx-swap="innerHTML">Upload</button>
        <button hx-get="/login" role="tab" aria-controls="tab-content" hx-target="#tab-content"
            hx-swap="innerHTML">Login</button>
    </div>
    <div id="tab-content">
        <h1>Hi and welcome to your <b>P</b>ersonal_<b>Drive</b></h1>
    </div>
    <footer>
        <p>© Jeremias Ryttäri</p>
    </footer>
</body>

</html>