{{ define "file-list" }}
<div id="files-target" class="folders">
    <ul>
        {{ range . }}
        {{ template "file-link" . }}
        {{ end }}
    </ul>
</div>
{{ end }}

{{ define "upload" }}
<form id='file-upload-form' hx-encoding='multipart/form-data' hx-post='/files/' hx-target="#files-target">
    <input type='file' name='file'>
    <input type='text' name="folder-path" value="{{ .Folder }}" hidden>
    <button>
        Upload
    </button>
    <progress id='progress' value='0' max='100'></progress>
</form>
<script>
    htmx.on('#file-upload-form', 'htmx:xhr:progress', function (evt) {
        htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
    });
    htmx.on('#file-upload-form', 'htmx:afterOnLoad', function (evt) {
        htmx.find('#progress').setAttribute('value', '0');
        evt.detail.elt.reset();
    });
</script>
{{ end }}

{{ define "file-link" }}
<li id="{{ .ID }}" class="files__file-item"><a class="file-item__file-link" href="/files/{{ .ID }}">{{ .Name }}</a>
</li>
{{ end }}

{{ define "file" }}
<h1>{{ .File.Name }}</h1>
{{ if .Uploading }}
<div hx-get="/files/{{ .File.ID }}/poll" hx-trigger="load delay:1s" hx-target="#file">
    ...File is being processed
</div>
{{ end }}
<h4>{{ .File.Status }}</h4>
{{ end }}