{{ define "file-list" }}
<div id="files-target" class="folders">
    <ul>
        {{ range . }}
        <li class="files__file-item"><a class="files__file-item" href="{{ .ID }}">{{ .Name }}</a>
        </li>
        {{ else }}
        <li>No files found.</li>
        {{ end }}
    </ul>
</div>
{{ end }}

{{ define "upload" }}
<form id='file-upload-form' hx-encoding='multipart/form-data' hx-post='/files/'>
    <input type='file' name='file'>
    <input type='text' name="folder-path" value="{{ .FolderPath }}" hidden>
    <button>
        Upload
    </button>
    <progress id='progress' value='0' max='100'></progress>
</form>
<script>
    htmx.on('#file-upload-form', 'htmx:xhr:progress', function (evt) {
        htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
    });
</script>
{{ end }}